*{
    margin:0;
    padding:0;
}
.top_nav{
    display: flex;
    justify-content: space-between;
    background-color: rgb(7, 27, 7);
    color:aliceblue;
    /* height: 40px; */
    position: sticky;
    top: 0;
    z-index: 1000;
  
    
}

.top_nav ul{
    list-style: none;
    display: flex;
}
.top_nav ul li{
    padding: 0px 3px ; 
    font-size: 14px;
    

}
.top_nav ul li i{
    font-size: 13px;
    padding: 4px;
}
@media  screen and (max-width: 819px) {
    .fir{
        display: none;
    }
    
}
@media  screen and (max-width: 460px) {
    .top_nav ul li{
        padding:0px;
    }

}

.nav_bar{
    display: flex;
    background-color: rgb(163, 207, 163);
    color:black;
    padding: 8px 30px;
    justify-content: space-between;
    position: sticky;
    top: 50px;
    z-index: 1000;
}
.nav_element ul{
    list-style: none;
    display: flex;
}
.nav_element ul li{
    /*background-color: rgb(230, 14, 179);*/
    padding:7px;
    margin:0px 8px;

}
li{
    margin:20px;
    font-weight: 20PX;
}

/* 
.box{
    height: 100px;
    width:100px;
    background-color:#1e0f8e ;
    position:relative;
    left:200px;
    top:200px;
    bottom:100px;
} 
*/

/*
.box1{
    height: 100px;
    width: 130px;
    background-color: rgba(143, 61, 165, 0.506);
    position: absolute;
    bottom:50px;
    right: 50px;
    padding: 10px;
} */

/* hero section start */
.overlay{
    background: url(image/pexels-photo-1226302.jpeg) no-repeat;
    height: 80vh;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}
.hero_section.container{
    position: absolute;
    top: 20%;
    left: 0px;
    right: 0px;
    text-align: center;
}
.hero_section{
    background-color: black;
    position: relative;
}
.hero_section h1{
    color:blue;
    font-size: 40px;
    font-variant: small-caps;
    padding: 20px 0px;

}

.hero_section h3{
    font-size: 25px;
    color: rgb(242, 246, 23);
    font-style: italic;

}
.hero_section p{
    font-size: 18px;
    color: rgb(247, 234, 234);
    padding: 20px 20px;
}
.buttons button{
    border: none;
    padding: 10px 20px;
    color:black;
    font-size: 17px;
    background-color: red;
    margin-right: 16px;
}
/* about section style start */
.about_section{
    padding: 15px;;
}
.about_section .container{
    width: 85%;
    /* background-color: red; */
    margin: auto;
    display: flex;
    align-items: center;
  
}
.about_section .image img{
    max-width: 450px;
}
.about_contnt{
    padding: 10px 50px;

}
.about_contnt .head h2{
    font-size: 20px;
    color:rgb(29, 2, 30) ;

}
.about_contnt .head {
    display: flex;
    align-items: center;
}
.about_contnt .head .line{
    height: 2px;
    width: 80px;
    background-color: rgb(0, 255, 51);
    margin: 0px 5px;
    
}

.about_contnt .content p{
    font-size: 17px;
    color: green;
    line-height: 30px;
    padding: 20px 0px;


}
.about_contnt button{
    border: none;
    padding: 10px 25px;
    background-color: aqua;
    color: blue;
    font-size: 17px;
    margin-right: 15px;
}




/* about section style  end */

/* resume section start  */
.resume_section {
    padding: 50px 10px;
}

.head h2{
    font-size: 38px;
    text-align: center;
    /* text-decoration: underline; */
    color: aqua;
}
.underline {
    height: 3px;
    width: 80px;
    background-color: aqua;
    margin:auto;
}

.resume_section .container{
    width: 95%;
    margin: auto;
    margin-top: 20px ;
    
    display: flex;
    /* flex-direction: row; */
    /* padding: ; */
    justify-content: space-evenly;
    /* background-color: red; */

}
.resume_card{
    width: 26%;
    border: 2px solid rgb(20, 20, 14) ;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card_head h3{
    font-size: 28px;
    color: rgb(147, 23, 189);
}
.card_head h3::after{
    content: "";
    width: 30px;
    border-bottom: 2px solid red;
    margin: 5px 0px;
    display: block;
}
.resume_card .date{
    font-size: 18px;
    color: rgb(14, 65, 65);
    padding: 11px 0px;
}
.resume_card .card_title{
    color: rgb(240, 23, 23);
    font-size: 19px;
}
.resume_card p{
    font-style: italic;
    text-align: justify;
    padding: 10px 0px;
    color: blue;
    line-height: 25px;
}
.skill_label{
    padding-top: 20px;

}
.skill_label label{
    color:rgba(52, 8, 249, 0.957);
    font-size: 19px;
    font-weight: 550;
}
.skill_label .label{
    width: 100%;
    height: 3px;
    background-color: aqua;
    border-radius: 7px;
}
.html{
    width: 80%;
    height: 3px;
    border-radius: 7px;
    background-color: red;
}
.css{
    width: 70%;
    height: 3px;
    border-radius: 7px;
    background-color: red;
}
.javascript{
    width: 60%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.c{
    width: 65%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.python{
    width: 90%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.cplus{
    width: 63%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.android{
    width: 50%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.django{
    width: 92%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.hacking{
    width: 20%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}

.react{
    width: 69%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}
.node{
    width: 34%;
    height: 3px;
    border-radius: 7px;
    background-color: red;

}


/* resume section end  */

/* mid section styling start */
.mid_section{
    background-color: rgb(2, 53, 53);
    color:#fff;
    margin:40px 0px;
    padding: 15px 0px;
}
.mid_section .container{
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;

}
.mid_section .mid_card{
    display: flex;
    align-items: center;

}
.mid_icon i{
    font-size: 35px;
}
.mid_card .mid_icon{
    padding: 20px 10px;
    border-right: 2px solid #fff;
}
.mid_content{
    padding:0px 10px ;
}
/* mid section styling end  */

/* seervice section Stylinge start */
.service_section{
    margin-bottom: 40px;
}
.service_section .container{
    width: 85%;
    margin: 50px auto;
}
.service_section .service_card{
    max-width: 280px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    position: relative;
    /* margin-top: 40px; */
    /* height: 3px; */
    /* box-shadow: -10px 10px 3px rgb(212, 10, 124); */
    /* 10px horizontal offset 10px verical offset,5px shadow-bluer-radius */
}
.service_card .service_icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid aqua;
    text-align: center;
    position: absolute;
    top: -25px;
    left: 40%;
}
.service_card .service_icon i{
    /* padding: 40px ; */
    font-size: 20px;
    color: red;
  margin-top: 15px;
}
.service_card .service_content{
    padding: 45px 15px 15px 15px;
    text-align: center;

}
.service_content h3{
    color: rgb(238, 1, 64);
    padding-bottom: 5px;
}
.service_content p{
    font-style: italic;
    text-align: justify;
    color: #706f6f;
    line-height: 20px;
}
/* service section end */
/* testimonials start */
.testimonials_section{
    text-align: center;
background:center/cover no-repeat  url(https://hbr.org/resources/images/article_assets/2019/02/Mar19_11_825412904.jpg);
min-height:300px;
background-attachment: fixed;

}
.images img{
    margin-top: 10px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
  
}
.testimonials_section .head h2{
    padding-top: 14px;
}
.testimonials_section p {
    margin: 5px 0px ;
}
.testimonials_section h3{
    margin: 5px 0px ;
}
.testimonials_section p{
    color:white;
}
.testimonials_section p i{
    color: rgb(255, 0, 0);
}
/* testimonials end  */
/* blog section satrt  */
.blog .container{
    display: flex;
    justify-content: space-between;
}
.blog .blog_card{
    width: 30%;
    /* margin: 15px 40px; */
}
.blog_card{
    margin: 15px 25px 15px 25px;
    width: 45%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog img{
    width: 100%;
    /* filter:blur() */
}
.calendar{
    display: flex;
    justify-content: space-between;
}
.blog_card p{
    text-align: center;
    font-size: 14px;
    font-style: italic;
    padding-bottom: 10px;

}
.blog_card h3{
    text-align: center;
    padding-bottom:10px;
}
.calendar{
    padding: 4px 10px;

}
.calendar p{
    font-style: italic;

}
.calendar h3{
    background-color: rgb(190, 190, 231);
    border-radius:10px;
    padding:0px 10px; 
}


/* blog section end */
/* contact section start  */
.contact_section{
    /* margin: 50px 0px; */
    background-color: rgb(21, 145, 145);
    padding: 10px 20px 10px 20px;
}
.contact_section .container{
    width: 70%;
    margin:40px  auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact_section .contact_details{
    width: 50%;
    text-align: center;
    /* color: ; */
}
.contact_section .contact_details .social_icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px 0px;
}
.contact_details .social_icons .icon{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:aqua;
}
.contact_details .social_icons .icon i{
    font-size: 16px;
    padding-top: 20px;
   
    
}
.contact_details .contact_info h4{
    padding: 7px 0px;
}

.contact_section .contact_form{
    width: 50%;
    /* height: 30px; */
}
.contact_section .contact_form form{
    background-color: #fff;
    padding: 20px;
    /* height: 40px; */
}
.contact_section .contact_form form h3{
    font-size:25px;
    color: rgb(14, 199, 199);
    padding-bottom: 20px;
    text-align: center;
}
.contact_section .contact_form .form_label{
    margin-top: 13px;
}
.contact_section .contact_form form input,
.contact_section .contact_form form textarea{
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid rgb(4,114,108);
    padding: 10px;
}
.send_button  button{
    border: none;
    padding: 7px 15px;
    background-color: rgb(4,114,108);
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}
.copy_right{
    text-align: center;
    padding: 30px;
}
/* contact section end  */